
   /* Formulaire
	Auteur : Jessim LAIB
	Date : 13/12/2023
	Description : CSS de l'administration du site */

/* admin.css */

/* Styles généraux pour la page d'administration */
/* Styles généraux pour la page d'administration */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: 100%;
    overflow-x: auto; /* Ajout d'un défilement horizontal si nécessaire */
}

h1 {
    text-align: center;
    color: #007bff;
}

.form-inline {
    margin-bottom: 20px;
    text-align: center;
}

.table-responsive {
    margin-top: 20px;
    overflow-x: auto; /* Défilement horizontal pour la table si nécessaire */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    vertical-align: middle;
    padding: 8px;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.alert {
    margin-top: 20px;
}

/* Styles spécifiques pour les formulaires d'édition */
.form-row {
    margin-bottom: 10px;
}

.form-row input {
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-row label {
    margin-right: 10px;
    font-weight: bold;
}



