/* Formulaire
	Auteur : Jessim LAIB
	Date : 13/12/2023
	Description : Responsive du site  */
/* Styles responsifs */
@media (max-width: 768px) {
    .form-row input {
        width: 100%;
        margin-right: 0;
    }
    
    .form-row label {
        margin-bottom: 5px;
        display: block;
    }
}

